[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nitrolite"]
	path = lib/nitrolite
	url = https://github.com/erc7824/nitrolite
[submodule "lib/eggdrop"]
	path = lib/eggdrop
	url = git@github.com:layer-3/eggdrop.git
